<html>
<head>
    <style>
    </style>
</head>
<body>
<p>Hi {{firstName}},</p>
<p> Please, click the link below to verify your email</p>
<a href="https://{{link}}">Email Verification</a>
<p> Thank you,</p>
<p> Collectr Team</p>
</body>
</html>